.*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.15)),url("../img/bg-image2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.logo {
    width: 150px;
    margin-left: 1%;
    height: auto;
}


.banner{
    width:  100%;
    height: 100vh;   
    background-size: cover;
    background-position: center;
}
.p-Header{
    padding-top: 250px;
    padding-left: 100px;
    font-size: 45pt;
    color: white;
}
.p-subHeader{
    padding-left: 110px;
    font-size: 15pt;
    color: white;
}
.h-line{
    width: 5%;
    height: 7px;
    position: relative;
    border-radius: 10px;
    left: -775px;
    top: 220px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(0, 196, 145)
}
.page-body{
     background-image: linear-gradient(#07384E,rgba(0,0,0,0.85)),url("../img/bg-image2.jpg");
}
.card {
    background-color: #ccc;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.card:hover {
  transform: scale(1.05); 
}
.card img {
        width: 100%;
        height: 50%;
        border-radius: 8px;
}
.card-container {
  display: flex; 
  justify-content: space-between; 
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}

/* Style the vertical rectangle container */
.rectangle {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 40px; /* Increase padding for larger size */
    width: 400px; /* Increase width for larger size */
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style the form */
.form-group {
    margin-bottom: 20px;
}

.form-group input {
    width: 100%;
    padding: 15px; /* Increase padding for larger size */
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.form-group input[type="submit"] {
    background-color: #28a745; /* Green */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-group input[type="submit"]:hover {
    background-color: #218838; /* Darker green on hover */
}
.container-tour {
  text-align: center;
  margin-top: 50px;
}

h1 {
  margin-bottom: 30px;
  color: #333;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container a {
  margin: 0 20px;
  text-decoration: none;
}

.button-container img {
  width: 250px; /* Fixed width for both images */
  height: 350px; /* Fixed height for both images */
  object-fit: cover; /* Maintain aspect ratio and cover container */
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button-container img:hover {
  transform: scale(1.1);
}