
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body class="aboutUs-body">
    <div class="summary">
        <p class="h1-title">About Us</p>
        <p class="h2-summary">
            Tropic Trail is dedicated to help people plan and experience a once in a lifetime trip.
            We strive to give people affordable package with high quality of service together with family-friendly environment.
            Our team is committed to assist and to serve people whether planning for 1 or 2 or a whole family, were here to serve and to assist you.
            At Tropic Trail, we believe in achieving peace of mind through travelling.
            Join us as we offer you with great deals and best combination of packages to satisfy your needs.
            Discover joy and happiness with fun and exciting trip together with Tropic Trail.
        </p>
        <p class="h3-team">Meet the Team</p>
        <hr class="hr-line">
        <div class="img-group">
            <ul>
                <li>
                    <img src="~/Content/img/james.jpg" />

                    <p><a href="https://www.facebook.com/jimssjamis">James Emmanuel A. Embudo</a></p>

                </li>
                <li>
                    <img src="~/Content/img/alan.jpg" />
                    <p><a href="https://www.facebook.com/alangabriel45">Alan Gabriel Dosado</a></p>
                </li>
                <li>
                    <img src="~/Content/img/jundix.jpg" />
                    <p><a href="https://www.facebook.com/jundix.soliano">Jundix Pepino</a></p>
                </li>
                <li>
                    <img src="~/Content/img/janvel.jpg" />
                    <p><a href="https://www.facebook.com/JanzSkies14">Janvel Andrino</a></p>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>

