@*@model TropicTrail.Offers*@

@{
    ViewBag.Title = "Details";
}
<link href="~/Content/css/Details.css" rel="stylesheet" />

<div class="form-group" style="text-align: center; ">
    <div class="col col-md-12" style="background-color: white; width: 60%; margin-top: 5%; margin-left: 21%; ">
        <div class="card-text-bg-primary mb-3">
            <header style="margin-top: -20px;">
                <h1>Island Hopping Adventure</h1>
            </header>
            <h2>Explore the breathtaking islands</h2>
        </div>
        <img class="image-container" src="~/Content/img/tour1.jpg" style="display: block; margin-left: auto; margin-right: auto; width: 50%;height:100%; border-radius: 5%;" />
        <div style="margin-bottom: -50px;" class="details">
            <h2>@Model.getOffers.offersName</h2>
            <h2>@Model.getOffers.TourType.tourName</h2>
            <p class="description">@Model.getOffers.offersDesc</p>
            <div class="price">
                <span class="from">Php</span>
                <span class="amount">@Model.getOffers.listPrice</span>
            </div>
            <a href="~/Home/BookNow/@Model.getOffers.offersId" class="btn btn-secondary">Book Now</a>
        </div>
    </div>
</div>


