@*@model TropicTrail.Offers*@
@model TropicTrail.Lists
@{
    ViewBag.Title = "Details";
}
<link href="~/Content/css/Details.css" rel="stylesheet" />
<body>
    <div class="container">
        <header>
            <h1>Island Hopping Adventure</h1>
            <p>Explore the breathtaking islands</p>
        </header>
        <div class="card-container">
            <div class="island-details">
                <img src="~/Content/images/tour1.jpg" />
                <div class="details">
                    <h2>@Model.getOffers.offersName</h2>
                    <h2>@Model.getOffers.TourType.tourName</h2>
                    <p class="description">@Model.getOffers.offersDesc</p>
                    <div class="price">
                        <span class="from">From</span>
                        <span class="amount">@Model.getOffers.listPrice</span>
                    </div>
                    <a href="~/Home/BookNow/@Model.getOffers.offersId" class="btn btn-secondary">Book Now</a>
                </div>
            </div>
        </div>
        <a href="~/Home/Details" class="btn btn-secondary">Back</a>
    </div>
</body>
