
@{
    ViewBag.Title = "Index";
}

<html>
<head>
    <title></title>
    <link href="~/Content/css/index-css.css" rel="stylesheet" />
</head>
<body>
     <div class="banner"> 
         <hr class="h-line">   
             <p class="p-Header">
                 Plan your vacation with us!
             </p>
            <p class="p-subHeader">Tropic Trail offers the best package for you trip.</p>
       
     </div>
</body>
</html>

