@model IEnumerable<Offers>
@{
    ViewBag.Title = "Offers";
    Layout = "~/Views/  /_Layout.cshtml";
} 
<link href="~/Content/css/styles.css" rel="stylesheet" />

@foreach (var item in Model)
{
    <div class="card-container">
        <div class="card">
            <img src="~/Content/img/islandhopping.jpg" />
            <div class="card-content">
                <h3>@item.TourType.tourName</h3>
                <p>@item.offersDesc</p>
                <a href="" class="btn">Details</a>
            </div>
        </div>
    </div>
}
