@model IEnumerable<Offers>
@{
    ViewBag.Title = "Offers";
} 

<html>
<head>
    <link href="~/Content/css/index-css.css" rel="stylesheet" />
</head>    
 <body class="page-body">  
     <div class="card-container">
         <div class="row row-cols-5">
             @foreach (var item in Model)
             {
              <div class="col mx-2">
                  <div class="card h-60">
                      <img src="~/Content/img/tour1.jpg" class="card-img-top">
                        <div class="card-body">
                           <h5 class="card-title">@item.TourType.tourName</h5>
                           <p class="card-text">
                            Click to see more details.
                           </p>
                            <button class="btn btn-secondary">See more.</button>
                        </div>
                     </div>
                    </div>
              }
            </div>
       </div>
</body>
</html>
